.button {
    border-radius: 4px;
    padding: 4px 15px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.primary {
    background: #1677ff;
}

.danger {
    border: 1px solid #ff4d4f;
    background-color: #ff4d4f;
}

.ghost {
    background: transparent;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, .88);
}